@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	margin: 0;
	box-sizing: border-box;
}
h2{
    text-align: center;
    
}
header {
	position: fixed;
	display: none;
	top: 0;
    padding: 10px;
    width: 100%;
    background-color: white;
}
.home {
    display: block;
    width: 100%;
	text-decoration: none;
	color: black;
	font-weight: bolder;
	font-family: cursive;
	font-size: 2vh;
	background-color: rgba(228, 158, 92, 0.281);
	text-align: center;
}
.card-body {
	background-color: rgba(228, 158, 92, 0.281);
	border-radius: 15px;
	border: 2px solid rgba(199, 74, 74, 0.288);
}
.card {
	border: 0px solid red !important;
}
.ayat,
.card-text{
    font-size: 0.95rem;
}
ul {
	padding-top: 40px;
	margin: auto;
}
li {
	list-style: none;
}
.ayat,
.number {
	font-size: 0.95rem;
	margin: 15px 2px;
	text-align: end;
}
.ayat {
	border-bottom: 2px solid black;
}
footer{
    display: flex;
    justify-content: center;
}
.Source, .support{
    color: black;
    padding:5px 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid gray;
    background-color: gray;
    font-size: 0.5rem;
}